<!DOCTYPE html>
<html>
<head>
	<title>Team7 - Registation</title>
	<link rel="icon" href="images/logo.png">
	<link href="css/registration.css" rel="stylesheet" type="text/css" media="all" />	
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> 
	<script src="js/jquery.min.js"></script>
  <script src="js/ManageCategory.js" type="text/javascript"></script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script> 
  
</head>
<body>
<!--header-->
<div id="header">
</div>

<!--Registration-->
<div class="container" >
<div class="cont">
    <ol class="bread">
            <li><a href="index.html">Home/ </a></li>
             <li><a href="Login.html">Login/ </a></li>
            <li class="active">Registration</li>
    </ol>
    <h2>Registration</h2>
    <form class="form_res form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" >First name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="first_name" placeholder="Enter first name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" >Last name:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="last_name" placeholder="Enter last name">
        </div>
      </div>
     	
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
      </div>
     	
      <div class="form-group">
        <label class="control-label col-sm-2" >Phone:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="phone" placeholder="Enter phone">
        </div>
      </div>

   	<div class="form-group" style="margin-left: 18%;">
  	    <div class="radio-inline">
  	      <label><input type="radio" name="radio" value="id1">Male</label>
  	    </div>
  	    <div class="radio-inline">
  	      <label><input type="radio" name="radio" value="id1">Female</label>
  	    </div>
  	</div>	

     <div class="form-group">
        <label class="control-label col-sm-2" >Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="phone" placeholder="Enter password">
        </div>
      </div>

       <div class="form-group">
        <label class="control-label col-sm-2" >Retype password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="phone" placeholder="Retype password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" ></label>
        <div class="col-sm-10">
          <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>i agree Terms & conditions &nbsp;<a class="terms" href="#"> terms of service</a> </label>
        </div>
      </div>
         

      <div class="form-group button">        
        <div class="col-sm-offset-4 col-sm-6">
          <button type="submit" class="btn btn-primary" >Submit</button>
          
        </div>
      </div>


      </form>
    </div>
</div>


<!--Footer-->
<div id="footer">
</div>
</body>
</html>