<!DOCTYPE html>
<html>
<head>
  <title>G7 Ltd.Company</title>
  <link rel="icon" href="images/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/stylead.css">

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="admin.html"><img id ="logo" src="images/logo.png" alt="G7 Logo"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="admin.html">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Search option</b>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">User</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">History</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="profie.html"><img src="images/avatar.jpg" alt="avatar" id="avatar"> <b id="name">Bui Duy Thien</b> </a></li>
    </ul>
  </div>
</nav>
  
<div class="container-fluid text-left">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <li>
        <a href="admin.html">
          <i class="glyphicon glyphicon-home"></i> <span>Dashboard</span>
        </a>
      </li>

    

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-handshake-o fa-fw"></i> <span>Sales management</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a href="ManageCategory.html"><i class="fa fa-cart-arrow-down fa-fw"></i> <span>Categories</span></a></li>
          <li ><a href="ManageProduct.html"><i class="fa fa-info fa-fw"></i> <span>Products</span></a></li>
           <li ><a href="ManageOrder.html"><i class="fa fa-tag fa-fw"></i> <span>Order</span></a></li>
            <li ><a href="adminproduct.html"><i class="fa fa-check-square fa-fw"></i> <span>Product Verification</span></a></li>
          <li ><a href="event.html"><i class="fa fa-tag fa-fw"></i> <span>Events</span></a></li>
         
        </ul>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-handshake-o fa-fw"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
        <li ><a href="ManageUsers.html"><i class="fa fa-users fa-fw"></i> <span>Management</span></a></li>
          <li ><a href="users.html"><i class="fa fa-users fa-fw"></i> <span>Users</span></a></li>
          <li ><a href="transactionhistory.html"><i class="fa fa-history fa-fw"></i> <span>Transaction History</span></a></li>
          <li ><a href="mailbox.html"><i class="fa fa-reply-all fa-fw"></i> <span>Mailbox</span></a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-bell-o fa-fw"></i> <span>Notification</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-clipboard fa-fw"></i> <span>Report</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a href="grossrevenue.html"><i class="fa fa-file-text fa-fw"></i> <span>Gross Revenue</span></a></li>
          <li ><a href="soldproduct.html"><i class="fa fa-file-text fa-fw"></i> <span>Sold Product</span></a></li>
          <li ><a href="market.html"><i class="fa fa-file-text fa-fw"></i> <span>Market</span></a></li>
        </ul>
      </li>
    </div>
    <div class="col-sm-10 container-fluid text-left" > 
      <img src="images/sold.jpg" alt="Sold product" id="seg">
      <button id="bt" type="button" class="btn btn-primary">Detail</button>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <div>
    <p>Copyright &copy; 2017 <a href="admin.html">G7 Company</a></p>
  </div>
  
</footer>
</body>
</html>