<!DOCTYPE html>
<html>
<head>
	<title>G7 Ltd.Company/Users</title>
	<link rel="icon" href="images/logo.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="css/stylead.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="admin.html"><img id ="logo" src="images/logo.png" alt="G7 Logo"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="admin.html">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Search option</b>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">User</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">History</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="profie.html"><img src="images/avatar.jpg" alt="avatar" id="avatar"> <b id="name">Bui Duy Thien</b> </a></li>
    </ul>
  </div>
</nav>
  
<div class="container-fluid text-left">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <li>
        <a href="admin.html">
          <i class="glyphicon glyphicon-home"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-handshake-o fa-fw"></i> <span>Co-operation</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a href="schedule.html"><i class="fa fa-calendar fa-fw"></i> <span>Company Schedule</span></a></li>
          <li ><a href="leave.html"><i class="fa fa-check fa-fw"></i> <span>Leave Approval</span></a></li>
          <li ><a href="test.html"><i class="fa fa-graduation-cap fa-fw"></i> <span>Test</span></a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-handshake-o fa-fw"></i> <span>Sales management</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a href="category.html"><i class="fa fa-cart-arrow-down fa-fw"></i> <span>Categories</span></a></li>
          <li ><a href="adminproduct.html"><i class="fa fa-check-square fa-fw"></i> <span>Product Verification</span></a></li>
          <li ><a href="product.html"><i class="fa fa-info fa-fw"></i> <span>Products</span></a></li>
          <li ><a href="event.html"><i class="fa fa-tag fa-fw"></i> <span>Events</span></a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-handshake-o fa-fw"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
        <li ><a href="ManageUsers.html"><i class="fa fa-users fa-fw"></i> <span>Management</span></a></li>
          <li ><a href="users.html"><i class="fa fa-users fa-fw"></i> <span>Users</span></a></li>
          <li ><a href="transactionhistory.html"><i class="fa fa-history fa-fw"></i> <span>Transaction History</span></a></li>
          <li ><a href="mailbox.html"><i class="fa fa-reply-all fa-fw"></i> <span>Mailbox</span></a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-bell-o fa-fw"></i> <span>Notification</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>

      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-clipboard fa-fw"></i> <span>Report</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a href="grossrevenue.html"><i class="fa fa-file-text fa-fw"></i> <span>Gross Revenue</span></a></li>
          <li ><a href="soldproduct.html"><i class="fa fa-file-text fa-fw"></i> <span>Sold Product</span></a></li>
          <li ><a href="market.html"><i class="fa fa-file-text fa-fw"></i> <span>Market</span></a></li>
        </ul>
      </li>



    </div>
    <div class="col-sm-10 text-left"> 
    	<div class="row">
    		<div class="cont">
		     	<ol class="breadcrumb">
		            <li><a href="admin.html">Home</a></li>
		            <li><a href="admin.html">Users Management</a></li>
		            <li class="active">Users</li>
		    	</ol>
		    </div>
    		<div class="col-md-4 col-sm-5 col-xs-12">
	    		<h1>List Of User Accounts</h1>
	    	</div>
	    	<div class="col-md-8 col-sm-7 col-xs-12 text-right">
	    		<div class="button-group"> 
					<a href="category.html">
						<button type="submit" class="btn btn-primary ">
	                		<i class="fa fa-plus-square fa-fw"></i>
	                		<span>Add</span>
	            		</button>
	            	</a>
	            	<button type="submit" class="btn btn-primary ">
	                	<i class="fa fa-remove fa-fw"></i>
	                	<span>Remove</span>
	            	</button>
	            	<button type="submit" class="btn btn-primary">
	                	<i class="fa fa-cog fa-fw"></i>
	                	<span>Edit</span>
	            	</button>
	    		</div>
	    	</div>
    	</div>
    	<hr>
    	
		<div class="row">
	        <div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="form-group">
	                <label for="from_date">Sign up date</label>
	                <p class="input-group">
	                    <input type="text" class="form-control"/>
	                </p>
	            </div>
	        </div>
	        <div class="col-md-3 col-sm-6 col-xs-12">
	            <div class="form-group">
	                <label for="to_date">Name</label>
	                <p class="input-group">
	                    <input type="text" class="form-control"/>
	                </p>
	            </div>
	        </div>
		</div>
	    <div class="row">
	        <div class="col-md-3 col-sm-6 col-xs-12">
	        	<button type="submit" class="btn btn-primary">
	                <i class="fa fa-search fa-fw"></i>
	                <span>Search</span>
	            </button>
	            <button type="button" class="btn btn-default">
	                <i class="fa fa-refresh fa-fw"></i>
	                <span>Refresh</span>
	            </button>                
	        </div>
	    </div>
      	
    	<hr>
    	<div class="table table-responsive">
			<table class="table table-hover">
	    		<thead>
	      			<tr>
	        			<th>No</th>
	        			<th>Id</th>
	        			<th>Sign up date</th>
	        			<th>Fullname</th>
	        			<th>Status</th>
	                	<th>Type Account</th>
	      			</tr>
	    		</thead>
	   			 <tbody>
	     			 <tr>
	      				<td>1</td>
	      				<td>001</td>
	      				<td>01/01/2017</td>
	       				<td>Nguyen Van A</td>
	        			<td>Member</td>
	       				<td>Online</td>
	     			 </tr>
	     			 <tr>
	        			<td>2</td>
	        			<td>002</td>
	        			<td>01/01/2017</td>
	       			    <td>Nguyen Van B</td>
	        			<td>Online</td>
	        			<td>Member</td>
	     			 </tr>
	     			 <tr>
	        			<td>3</td>
	        			<td>003</td>
	        			<td>01/01/2017</td>
	       			    <td>Nguyen Van Duy</td>
	        			<td>Busy</td>
	       			    <td>Vip Member</td>
	      			</tr>
	      			<tr>
				        <td>4</td>
				        <td>004</td>
				        <td>01/01/2017</td>
				        <td>Nguyen Anh Tu</td>
				        <td>Online</td>
				        <td>Admin</td>
	      			</tr>
				      <tr>
				        <td>5</td>
				        <td>005</td>
				        <td>01/01/2017</td>
				        <td>Nguyen Ngo Lap</td>
				        <td>Online</td>
				        <td>Admin</td>
				      </tr>
				      <tr>
				        <td>6</td>
				        <td>006</td>
				        <td>01/01/2017</td>
				        <td>Bui Ngoc Minh</td>
				        <td>Busy</td>
				        <td>Vip Member</td>
				      </tr>
				      <tr>
				        <td>7</td>
				        <td>007</td>
				        <td>01/01/2017</td>
				        <td>Nguyen Van Hau</td>
				        <td>Offline</td>
				        <td>Member</td>
				      </tr>
				      <tr>
				        <td>8</td>
				        <td>008</td>
				        <td>01/01/2017</td>
				        <td>Le Nhat Khang Duy</td>
				        <td>Offline</td>
				        <td>Admin</td>
				      </tr>
				      <tr>
				        <td>9</td>
				        <td>009</td>
				        <td>01/01/2017</td>
				        <td>Nguyen Thuy Tien</td>
				        <td>Online</td>
				        <td>Member</td>
				      </tr>
				      <tr>
				        <td>10</td>
				        <td>010</td>
				        <td>01/01/2017</td>
				        <td>Truong Gia Huy</td>
				        <td>Offline</td>
				        <td>Member</td>
				      </tr>
	    		</tbody>
	  		</table>
  		</div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <div>
    <p>Copyright &copy; 2017 <a href="admin.html">G7 Company</a></p>
  </div>
  
</footer>
</body>
</html>